/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*-----------------------------------*\
  #CUSTOM PROPERTYnpm install -D tailwindcss postcss autoprefixer

\*-----------------------------------*/

:root {


  /* NEW PALLETE */
  
  --bg-body: #5B9981;
  --bg-primary: #0B132B;
  --bg-secondary: #0d294c;
  --bg-tertiary: #13293d;
  --fg-1: #375ac4;
  --fg-2: #2A456C;
  --fg-3: #13315c;
  --emphasis: #d7e1ff;
  --emphasis2: #4e7afd;
  --emphasis3: #6f93ff;
  --emphasis4: #124b8b;

  --white2: #FBFCF7;

  --black: #000;
  --white: #fff;

  /**
   * typography
   */

  --ff-tt-commons: 'TT Commons', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;



}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
strong,
button,
textarea,
ion-icon { display: block; }

img { height: auto; }

ion-icon {
  pointer-events: none;
  color: var(--white);
}

button,
input,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }


address { font-style: normal; }

html {
  scroll-behavior: smooth;
}

main {
  background-color: var(--bg-body);
  color: var(--white);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
  overflow: auto;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 15px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/



/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/





/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/




/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

