@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Voga Medium';
  font-style: normal;
  font-weight: normal;
  src: url(./assets/fonts/Voga-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Gagalin';
  font-style: normal;
  font-weight: normal;
  src: url(./assets/fonts/Gagalin-Regular.woff) format('woff');
}


#nav.active{
  position: sticky;
  top: 0;
  transition: all .5s ease;
  background-color: #5B9981;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}

.clipped {
  width: 350px;
  height: 350px;
  background: #A4B3AE;
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
}



